h1{
    text-align: center;
}
 .box {
      display: flex;
      padding: 10px;
      border: 1px solid #000;
    }
    .box app-crew,
    .box app-technology{
      flex: 1;
      margin-right: 10px;
      border-right: 1px solid #000;
    }
    .box app-experiments{
      flex: 1;
    }


 